<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ClassLibrary1.Properties.Settings.Banco_de_Dados1ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;|DataDirectory|\Banco de Dados1.mdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>